<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto.com Checkout</title>
</head>
<body>

    <script src="https://js.crypto.com/sdk?publishable-key={{crypto_dot_com_publishable_key}}"></script>    

    <div id="pay-button" data-payment-id="{{payment_id}}"></div>

    <script>
        var paymentId = document.querySelector('#pay-button').dataset.paymentId

        cryptopay.Button({
        createPayment: function(actions) {
            return actions.payment.fetch(paymentId)
        },
        onApprove: function(data, actions) {
            // Optional: add logic such as browser redirection or check data object content
        },
        defaultLang: 'en-US' // Optional: default language for payment page
        }).render("#pay-button")
    </script>
</body>
</html>